# Arquivos de estado do Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Arquivos de variáveis que podem conter informações sensíveis
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Arquivos de log
crash.log
crash.*.log

# Arquivos de chaves SSH gerados
*.pem
private_key.pem

# Arquivos de configuração local
.terraformrc
terraform.rc

# Arquivos de backup
*.backup

# Arquivos temporários
*.tmp
